<div class="container mt-5">
  <div class="row">
    <div class="col-12 mb-5" style="text-align:center;">
      <h2>總金額: {{sum}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 clearfix">
      <a href="/expenseTrackers/new" class="btn btn-primary mr-auto">新增支出</a>
      <select class="custom-select mr-auto col-5 col-right" name="category" Size=1
        onChange="self.location.href=this.value">
        <option selected{{#ifhome item.category '類別 / 全部' itemAll}} selected="selected" {{/ifhome}}
          value="/expenseTrackers">
          類別
          / 全部
        </option>
        <option {{#ifhome item.category '家居物業' itemAll}} selected="selected" {{/ifhome}} value="/?category=家居物業">家居物業
        </option>
        <option {{#ifhome item.category '交通出行' itemAll}} selected="selected" {{/ifhome}} value="/?category=交通出行">交通出行
        </option>
        <option {{#ifhome item.category '休閒娛樂' itemAll}} selected="selected" {{/ifhome}} value="/?category=休閒娛樂">休閒娛樂
        </option>
        <option {{#ifhome item.category '餐飲食品' itemAll}} selected="selected" {{/ifhome}} value="/?category=餐飲食品">餐飲食品
        </option>
        <option {{#ifhome item.category '其他' itemAll}} selected="selected" {{/ifhome}} value="/?category=其他">
          其他
        </option>
      </select></div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="list-group mt-3">
        {{#each records }}
        <li class="list-group-item ">
          <div class="input-group col-auto mb-3">
            <div class="col-auto m-auto" id="basic-addon1">{{this.category}}</div>
            <div class="col-auto m-auto">
              <p>{{this.name}}</p>
              <span>{{this.date}}</span>
            </div>
            <div class="col-auto m-auto" id="basic-addon2">{{this.amount}}</div>
            <form action="/expenseTrackers/{{this.id}}/delete?_method=DELETE" method="POST" class="col-auto m-auto">
              <a href="/expenseTrackers/{{this.id}}/edit" class="btn btn-outline-primary mr-3">修改</a>
              <button type="submit" class="btn btn-outline-danger">刪除</button>
            </form>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>

  </div>
</div>